.git
.github
.venv
venv
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
.coverage
*.egg-info
**/node_modules
**/.ipynb_checkpoints
*.db
*.db-shm
*.db-wal
test_data*
*.md
!deploy/DEPLOY.md
!README.md
!REFACTOR_NOTES.md
.env
deploy/.env
deploy/secrets
**/qiita_config.cfg
dump.rdb
.idea
.vscode
**/*.swp
**/.DS_Store
